{% extends "base.html" %}

{% block content %}

    <h2>Просмотреть данные орбит КА</h2>

    <div class="content">
        <div class="input_parameters_TLE">
            <div class="row_TLE">
    
                <div class="column1_TLE">
                    <label class="input-file_TLE">
                        <div class="bc">Эмулятор БЦ</div>
                        <br>        
                        <div class="div-abonent">Просмотр данных орбит КА</div>
                        <br>    
                    
                    <input id="view_TLE" accept=".txt,.tmp,.tle" type="file">
                    <div class="input-file-text">Выберите файл содержащий данные орбит КА</div>
                    <span class="btn-load input-file-btn">Выберите файл</span>           
                    <a download="data_ka.txt" href='#' id="link"><button id="download-tle">Сохранить в файл</button></a>
                    </label>
                    
                     
                    
                </div>
              
                
                
            </div>
        
            <div class="column2_TLE-view" id="data-document">
                    
            </div>
           
        </div>
    </div>
    
{% endblock %}